.card {
  display: flex;
  flex-direction: column;
  border: solid 1px #ccc;
  height: 100%;
  background: var(--background);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0.5rem;
}

.title {
  font-size: var(--fs-subtle);
  font-weight: 500;
}

.price {
  font-size: var(--fs-subtle);
  background: var(--background);
}

.addToCart {
  display: flex;
  gap: 1rem;
}

.addToCart button {
  cursor: pointer;
  flex: 1;
  margin-top: 1rem;
  border: 0;
  padding: 0.5rem;
  background: var(--cornflower);
}

.addToCart button:hover {
  background: var(--cornflower-50);
}

.addToCart button:disabled {
  cursor: unset;
  background: var(--cream);
}