:root {
  --min-width: 1100px;
  --app-width: 100%;

  --font-family-sans: Inter;
  --font-family-display: Viaoda Libre;

  --foreground: #000;
  --background: #fff;

  --accent1: #9bcdd2;
  --accent2: hsl(44, 49%, 67%);
  --accent2-dark: hsl(26, 87%, 70%);

  --black: #000;
  --white: #fff;

  --red: hsl(353, 98%, 45%);
  --yellow: hsl(51, 100%, 54%);
  --cornflower: hsl(219, 41%, 42%);
  --cornflower-50: hsl(219, 41%, 21%);
  --cornflower-light: hsl(219, 41%, 95%);
  --blue: hsl(219, 76%, 48%);
  --purple: hsl(260, 76%, 48%);
  --cream: hsl(47, 29%, 94%);

  --fs-regular: 1.25rem;
  --fs-subtle: 1rem;

  --padding-standard-x: 1rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
} */

::selection {
  background: var(--yellow); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--yellow); /* Gecko Browsers */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: var(--fs-regular);
  font-family: var(--font-family-sans);
  color: var(--foreground);
  background: var(--background);
}

.link {
  color: var(--blue);
  text-decoration: none;
}

.link:visited {
  color: var(--purple);
}

input,
textarea {
  font-size: 1.25rem;
  background: var(--white);
}

svg {
  width: 1em;
  height: 1em;
}

button {
  cursor: pointer;
}

strong {
  font-weight: 600;
}

.p {
  margin-top: 1rem;
}

.btn {
  display: block;
  flex: 1;
  border: 0;
  padding: 0.5rem;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  background: var(--cornflower);
}

.btn:hover {
  background: var(--cornflower-50);
}

.btn:visited {
  color: var(--white);
}

.btn:disabled {
  cursor: unset;
  color: var(--cornflower-50);
  background: var(--cream);
}

.navPrimary {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem var(--padding-standard-x);
  background: var(--cream);
}

.navPrimary .logo {
  color: var(--black);
  font-size: 2rem;
  text-decoration: none;
}

.navList {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navList li {
  list-style: none;
}

.cartBtn {
  cursor: pointer;
  border: 0;
  font-size: 1.5rem;
  color: var(--black);
  background: transparent;
}

.cartContainer {
  position: relative;
}

.cart.open {
  display: block;
}

.cart {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 20rem;
  font-size: var(--fs-subtle);
  background: var(--white);
  z-index: 10;
}

.cartEmpty {
  text-align: center;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartItem:not(:first-of-type) {
  margin-top: 1rem;
}

.cartItemDetails {
  flex: 1;
  padding: 0 1rem;
}

.cartItemTitle {
  font-weight: 600;
}

.cartItemRemove {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-regular);
  border: 0;
  color: var(--black);
  background: transparent;
}

.cartCheckout {
  margin-top: 1rem;
}

.page-heading {
  margin-top: 4rem;
  border-bottom: 1px solid #ccc;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 4rem 0.5rem;
  text-align: center;
  background: var(--cream);
}

.title {
  font-size: 1.75rem;
}

.tagline {
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 1.4;
}

.footer {
  border-top: 1px solid #ccc;
}

.footer-body {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 1rem 2rem;
  margin: auto;
  padding: 2rem 0;
  width: var(--app-width);
}

.footer-brand {
  font-family: var(--font-family-display);
  font-size: 1.5rem;
}

.footer-contact {
  font-size: var(--fs-subtle);
}

.product-page-layout {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 2rem;
  margin: 4rem auto;
}

.filters {
  padding: 0.5rem 1rem;
}

.filter {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.filter input[type='checkbox'] {
  background: #fff;
}

.standard-padding-x {
  padding-left: var(--padding-standard-x);
  padding-right: var(--padding-standard-x);
}

.constrained {
  margin-left: auto;
  margin-right: auto;
  width: var(--app-width);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (min-width: 576px) {
  .footer-body {
    grid-template-columns: 1fr 1fr;
  }

  .footer-brand {
    justify-self: start;
  }

  .footer-contact {
    justify-self: end;
  }
}
@media (min-width: 768px) {
  :root {
    --app-width: 85vw;
  }

  .filters {
    position: sticky;
    top: 2rem;
  }

  .product-page-layout {
    grid-template-columns: auto 1fr;
  }
}
@media (min-width: 992px) {
  :root {
    --app-width: 75vw;
  }
}
@media (min-width: 1200px) {
  :root {
    --app-width: 75vw;
  }
}
@media (min-width: 1400px) {
}
