.btn {
  display: block;
  border: 2px solid black;
  padding: 0.33rem 1rem;
  font-size: 1.25rem;
  color: black;
  background: var(--accent2);
}

.btn:hover {
  background: var(--accent2-dark);
  cursor: pointer;
}

.cta {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}

.categories {
  margin: 4rem auto;
}

.categoryList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  align-items: stretch;
  margin-top: 2rem;
  list-style: none;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cornflower);
  padding: 1.5rem;
  height: 100%;
  color: var(--black);
  text-align: center;
}

.category:visited {
  color: var(--black);
}

.category:hover {
  color: var(--white);
  background: var(--cornflower);
}

@media (min-width: 556px) {
  .categoryList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .categoryList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .categoryList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
