.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  list-style: none;
}

@media (min-width: 556px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
