.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  list-style: none;
}

.nonFound {
}

@media (min-width: 556px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
